body {
  padding-top: 5rem;

  .row {
    margin-left: 15px;
    margin-right: 15px;
  }
  .cy-header {
    padding: 3rem 1.5rem;
    text-align: center;
    h3 {
      color: #888888;
    }
  }
  #cy-dept {
    margin: auto;
    text-align: center;
    max-width: 400px;
  }

  .cy-dept-doctor-list-header {
    h1 {
      color: #555555;
      a {
        text-decoration: none;
        .cy-doctor-number {
          color: #888888;
          font-size: 24px;
        }
      }
    }
    h3 {
      color: #222222;
    }
  }

  .cy-doctor {
    text-align: center;
    padding: 10px;
    a {
      text-decoration: none;
    }
    img {
      max-width: 200px;
      margin: auto;
    }
    th {
      text-align: center;
      font-weight: bold;
    }
    td {
      text-align: center;
    }
    td {
      text-align: center;
    }
  }

  .cy-font {
    font-size: 5px;
  }
}
